html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.group:before,
.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group { zoom: 1;}

body {
	font: 16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	color: #777;
	background: #73bd48;
}

p {
	line-height:1.8;
}

strong {
	font-weight: 500;
	color: #444;
}

a {
	text-decoration:none;
	color:#5badf0;
}

#wrapper {
	margin:0 auto;
	width: 100%;
	height: 100%;
}

#container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 450px;
  min-width: 300px;
}

body.embed #container {
  min-height: 0px;
}

body.show-embed-code #container {
  min-height: 500px;
}

body {
  background: #68a3a7;
}

button {
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 220px);
  width: 440px;
  height: 365px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: #b3b3b3;
  box-shadow:
    0 10px 0 #888888,
    0 20px 0 #888888,
    0 30px 0 #888888,
    -10px 40px 0 hsla(0, 0%, 0%, .2);
}

button:before {
  position: absolute;
  top: -95px;
  left: 40px;
  width: 360px;
  height: 305px;
  border-radius: inherit;
  color: #ff6573;
  background: currentColor;
  box-shadow:
    0 30px 0 #c54c57,
    0 60px 0 #c54c57,
    0 90px 0 #c54c57,
    0 110px 0 #c54c57,
    -25px 140px 0 hsla(0, 0%, 0%, .1);
  content: '';
  transition: all 50ms;
}

button:active:before{
  top: 0px;
  box-shadow:
    0 16px #c54c57,
    0 16px #c54c57,
    0 16px #c54c57,
    0 16px #c54c57,
    0 16px 0 #c54c57,
    -5px 20px 0 hsla(0, 0%, 0%, .1);
}

.logo {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.share {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 20px;
  width: 300px;
  margin-left: -150px;
}

.counter {
  padding-bottom: 10px;
  color: white;
  font-size: 13px;
}



.fb-share-button {
  position: relative;
  top: -2px;
  margin-right: 5px;
  margin-left: 25px;
}