{% extends "base.html" %}
{% block content %}

<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>

<section id="wrapper">
  <div id="container">
    <button id="button"></button>
  </div>
</section>

{% endblock content%}
