{% extends "base.html" %}
{% block content %}

<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>
<audio>
  <source src="{% static '/audio/ding.mp3' %}" type="audio/mp3">
</audio>

<section id="wrapper">
  <img class="logo 2x" src="{% static '/images/logo.png' %}" alt="">
  <div id="container">
    <button id="button"></button>
  </div>
</section>

<div class="counter">
  <p><span id="counter">0</span> dings have been dung so far</p>
</div>

{% endblock content%}
